# Please read the openais.conf.5 manual page
totem {
  version: 2
{% if pacemaker_encrypted %}
  crypto_hash: {{ pacemaker_crypto_hash }}
  crypto_cipher: {{ pacemaker_crypto_cipher }}
{% elif not pacemaker_encrypted %}
  secauth: off
{% endif %}
{% if pacemaker_mode == "unicast" %}
  transport: udpu
{% endif %}
  cluster_name: {{ pacemaker_cluster_name }}
  interface {
    # The following values need to be set based on your environment
    ringnumber: 0
    bindnetaddr: {{ pacemaker_bindaddr | mandatory }}
    mcastport: {{ pacemaker_mcastport }}
    {% if pacemaker_mode == "multicast" %}
    mcastaddr: {{ pacemaker_mcastaddr | mandatory }}
    {% elif pacemaker_mode == "unicast" %}
    broadcast: yes
    {% endif %}
    ttl: 1
  }
}

{% if pacemaker_mode == "unicast" %}
nodelist {
{% for node in groups['pacemaker-nodes'] %}
  node {
    ring0_addr: {{ hostvars[node]['pacemaker_bindaddr'] }}
    name: {{ hostvars[node]['ansible_hostname'] }}
    nodeid: {{ hostvars[node]['pacemaker_nodeid'] }}
  }
{% endfor %}
}
{% endif %}

amf {
  mode: disabled
}

quorum {
  # Quorum for the Pacemaker Cluster Resource Manager
  provider: corosync_votequorum
  wait_for_all: 1
{% if pacemaker_mode == "multicast" %}
  expected_votes: {{ groups['pacemaker-nodes']|length }}
{% endif %}
}

aisexec {
  user:   root
  group:  root
}

logging {
  to_logfile: yes
  logfile: {{ pacemaker_logfile }}
  to_syslog: yes
  debug: off
  timestamp: on
  logger_subsys {
    subsys: AMF
    debug: off
    tags: {{ pacemaker_logging_tags }}
  }
}
